$background-Color: lighten(white, 10%);
$Font: Arial, Helvetica, sans-serif;
$primaryColor: blue;
$primaryFontColor: white;
$secondaryColor: orange;


@function settingTextColor($color){
    @if(lightness($color) > 70) {
        @return black;
    } @else  {
        @return white;
    }
}


@mixin setBackground($color) {
    background-color: $color;
    color:settingTextColor($color);
}


$spaceamounts:(1,2,3,4,5);

@each $space in $spaceamounts {
    .my-#{$space} {
        margin: #{$space}px;
    }
    .my-#{$space} {
        margin: #{$space}px;
        padding:5px
    }
    .my-#{$space} {
        margin: #{$space}px;
        padding:5px
    }
    .my-#{$space} {
        margin: #{$space}px;
        padding:5px
    }
    .my-#{$space} {
        margin: #{$space}px;
        padding:5px
    }
}