@import './variables';
@import './utils';
@import './button';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-Color;
  font-family: $Font;
  line-height: 1.6;
}

a {
  color: settingTextColor($primaryColor);
}

.showcase {
  @include setBackground($primaryColor);
  height: 650px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }
  }

  a {
    color: settingTextColor($primaryColor);
  }

  a:hover {
    color: yellow;
  }

  &-content {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width:50%
    }

    h1 {
        font-size: 50px;
        line-height: 1.2;
    }
    p {
        margin: 20px 0
    }
  }


}

