<div class="jumbotron text-center">
    <h3 >Content Writer will never die</h3>
    <hr />
    <h3 >Let's start and create you account with Writer</h3>
    <h4 >simply login with google</h4>
    <br/>
    <a href="">google</a>
</div>