<div class="jumbotron text-center">
    <h2>{{greetMessage}}</h2>
    <p class="lead">
        Create your day to day task and maintain it here
    </p>
    <a href="" class="btn btn-primary">Add task</a>
</div>