<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <div class="card-title">
                    Username
                </div>
                <h4>Content Heading</h4>
                <h5>Content subheading</h5>
                <p>asdahsdflahsdkfhaskdhfkjhasdkjfhkjasdhfkahsdkfaksdjfh</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Username
                </div>
                <h4>Content Heading</h4>
                <h5>Content subheading</h5>
                <p>asdahsdflahsdkfhaskdhfkjhasdkjfhkjasdhfkahsdkfaksdjfh</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                Username
            </div>
            <h4>Content Heading</h4>
            <h5>Content subheading</h5>
            <p>asdahsdflahsdkfhaskdhfkjhasdkjfhkjasdhfkahsdkfaksdjfh</p>
        </div>
    </div>
</div>
</div>
</div>